@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    user-select: none;
    -webkit-user-drag: none;
  }

.noscrollbar::-webkit-scrollbar {
  display: none;
}

.scroll-gray::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.scroll-gray::-webkit-scrollbar-track {
  background: theme('colors.gray.50');
}

/* Handle */
.scroll-gray::-webkit-scrollbar-thumb {
  background: theme('colors.gray.200');
  border-radius: 50px;
}

/* Handle on hover */
.scroll-gray::-webkit-scrollbar-thumb:hover {
  background: theme('colors.gray.300');
}